@media screen and (width < 981px) and (pointer:none), (pointer:coarse) {
    .card{
        position:relative;
        width:90vw;
        max-height: 60vh;
        margin:auto;
    }
    .first-text {

    }

    .cont{
        display:block;
    }

    .main-card{
        width: 90vw;
    }
}
