@media screen and (width < 981px) and (pointer:none), (pointer:coarse) {

    .card{
        position:relative;
        width:90vw;
        max-height: 60vh;
        margin:auto;
    }
    .cont {
        display:block;
    }

    .card-img-new{
        width: 90vw;
    }
}
