.first-text {
    margin-right: 40px;
    margin-left: 40px;

}
.cont{
    display:flex;
}

.card-img-new {
    border-radius:20px;
    border: 1px solid grey;
    margin: 10px;
    min-width: 25vw;
    overflow:hidden;
}