.up-panel {
    position: relative;
    top: 0px;
    height: 58vh;
    background:#b5b8b1;

}


.signal{
    background: red;
    width:10px;
    height:10px;
    border-radius: 5px;
}

.global-menu{
    padding:10px;
    position:relative;
    min-width:40vw;
    max-width: 70vw;
    min-height:30vh;
    max-height: 80vh;
    border-radius:30px;
    border: 1px solid gray;
    background:white;
    top:10px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    overflow-y:auto;
    }

.z-d {
    position: absolute;
    top:0px;
    left: 0px
    display:none;
    background-color: rgba(0, 0, 0, 0.4);
    width:99vw;
    height:99vh;
    align-items: center;
  justify-content: center;
    }


.down-panel{
    height: 38vh;
    border: solid 1px red;
    background: #b5b8b1;
    bottom:0px;
}


.main-content{
    width:96vw;
    overflow-y:hidden;
    overflow-x:scroll;
   background:#b5b8b1;

}

.cow {
    width:70px;
}


.main-cont {
    background:#b5b8b1;
}
.panel-item{
    padding:10px;
}

.input-big{
    font-size: 14px;
    width: 60px;
}

.az {
    border: solid 1px red;
    width:fit-content;
    padding:  3px;
}

.column-bsm{
position:relative;
    top:0px;
    display:block;
    height:95vh;
    border: 1px solid black;
    flex-grow: 0;
    min-width:60vw;
}

.bs-zone{
    padding:5px;

}

.bs-graf{
    background:black;
    border: 1px solid green;
}

.mnemo-sell{
    width: 20px;
    height:20px;
    border: solid 1px  #b5b8b1;
    background:#b5b8b1;
}

.mnemo-s{
    background:green;
     border: solid 1px black;
     width: 20px;
    height:20px;
    }

.mnemo-ball {
    background: #e3e8e6;
     width: 28px;
    height:22px;
    border-radius:10px;
    margin: 2px;
    text-align: center;
}


.mnemo-ball-baz{
    border:2px solid red;
}


.mnemo-ball-rr{
    border:2px solid black;
}


.mnemo-ball-ysp{
    border:2px solid yellow;
}



.mnemo-ball-laz{
    border:2px solid green;
}

.mnemo-ball-lar{
    border:2px solid blue;
}

.mnemo-contr{

    margin-left: 50px;
}

.mnemo-ball2{
    margin: 3px;
width: 28px;
    height:22px;
}

.mnemo-rr{
        background:#808080;
     border: solid 1px black;
     width: 20px;
    height:20px;
}

.mnemo-ysp{
        background:#faf87d;
     border: solid 1px black;
     width: 20px;
    height:20px;
}

.mnemo-baz {
        background:#ff4040;
     border: solid 1px black;
     width: 20px;
    height:20px;
}

.mnemo-lar{
        background:#4169e1;
     border: solid 1px black;
     width: 20px;
    height:20px;
}


.mnemo-laz{
        background:#2bb52b;
     border: solid 1px black;
     width: 20px;
    height:20px;
}

.row-mnemo {
    display:flex;
}


.alert-error {
    overflow:hide;
    border: 1px solid black;
    font-size: 15px;
    max-height:32px;
    max-width: 160px;
    background:white;
}


.div-time{
    background:#d4d0d6;
    border-radius: 20px;
    display:flex;
}


.watch{
    min-width: 5px;
    padding:2px;
}


.card{
    border: 1px solid gray;
    border-radius: 20px;
    min-height:10vh;
    min-width: 20vw;
    margin: 3px;
}

.card-cont{
    display:flex;
    overflow-y:scroll;
}

.card-text{
    margin-right: 5px;
}

.text-body-secondary {
    color: gray;
}

.card-title {
    font-size: 15px;
}

.btn-game{
    padding: 10px;
}

.btn-warning{
    background:#ffc107;
}
.btn-danger {
    background:#dc3545;
}

.btn-success{
    background: #198754;
}

.btn-primary{
    background:#0d6efd;
    color:white;
}