

.white-alert{
    background:white;
    border-radius: 30px;
    margin: 4px;
    padding-left: 18px;
    padding-top: 3px;
    padding-right: 18px;
}

.img-info{
    width: 40vw;
    margin-right: 30px;

}


