{% extends "/wiki/base_wiki.html" %}
{% block content %}
<form  enctype="multipart/form-data" method="post">
    <label for="name">имя страницы</label>
    <input class="text-form form-control" name="name" id="name">
    <label for="english">имя страницы латиницей</label>
    <input class="text-form form-control" name="english" id="english">
    <label  for="description">Описание</label>
    <textarea class="text-form form-control" name="description" id="description"></textarea>
    <label for="file">Файл html</label>
    <input class="text-form form-control" accept=".html" type="file" id="file" name="file">
    <label>Раздел</label>
    <select  class="dropdown form-select" name="type_page" id="type_page">
        <option value="0">Общая информация</option>
        <option value="1">Аварии на РБМК</option>
        <option value="2">Устройство РБМК</option>
    </select>
    <button class="btn btn-primary" type="submit">Отправить</button>
</form>
<form  enctype="multipart/form-data" method="post" action="/wiki/send_img">
    <label>Загрузить фото для статьи(Адрес /static/img/wiki)</label>
    <input class="text-form form-control" accept="" type="file" id="img" name="img">
    <button class="btn btn-primary" type="submit">Отправить</button>
</form>
<h4>Сообщения об ошибках</h4>
<div>
    {% for info in bad_info %}
        <p>
            <h6>{{info.url_page}}</h6>
    {{info.about}}
        </p>
    {% endfor %}
</div>
{% endblock %}