{% extends "/wiki/base_wiki.html" %}
{% block content %}
<h4>Результаты поиск</h4>
<div>
    {% for page in pages %}
    <div class="card main-card">
      <div class="card-body">
        <h5 class="card-title">{{page.name}}</h5>
    <!--    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>-->
        <p class="card-text">{{page.description}}</p>
        <a href="/wiki/{{page.name_english}}" class="card-link">Читать</a>
      </div>
    </div>
    {% endfor %}
    {% if pages|length == 0 %}
    <h5>Ничего не нашлось!</h5>
    {% endif %}
</div>
{% endblock %}