{% extends "base.html" %}
{% block content %}
<h1>Справка по управлению ГЦН</h1>
ГЦН - главный циркуляционный насос
ПЭН - Питательно энергетический насос
БС - Барабан сепаратор
Для стабильной работы реактора уровень воды(объем)
в барабан сепаратораторах(БС) должен составлять 66 м3.
<h3>Управление уровнем воды в БС</h3>
<div>
Чтобы накочать воду в БС № 1 нужно включить ПЭН 1, для БС № 2 нужно включить ПЭН 2.<br>
ГЦН1 - проганяет воду из БС 1 через реактор, тем самым охлаждая его.<br>
ГЦН2 - проганяет воду из БС 2 через реактор.<br>
</div>
<h3>Сокращения в аварийных сигнализациях</h3>
<p>
    <ul>
    <li>УВ БС опасно низкий - Уровень воды в барабан сепараторе №  опасно низкий</li>
    <li>УВ БС1 выше нормы - Уровень воды в барабан сепараторе № выше нормы</li>
    <li>Cброс БС - Излишняя вода сбрасывается из БС</li>
</ul>

</p>
{% endblock %}