<link href="/static/css/main.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}
{% block content %}
<h1>Справка по управлению ГЦН</h1>
<div class="alert alert-danger" role="alert">
 Эта информация предназначена, для игры в симуляторе ядерного реактора РБМК-1000. Информация о настоящем реакторе находиться
    <a href="/wiki">Здесь</a>
</div>
<p class="p-3">
    ГЦН - главный циркуляционный насос
ПЭН - Питательно энергетический насос
БС - Барабан сепаратор
Для стабильной работы реактора уровень воды(объем)
в барабан сепаратораторах(БС) должен составлять 66 м3.
</p>
<h3>Управление уровнем воды в БС</h3>
<div class="p-3">
Чтобы накочать воду в БС № 1 нужно включить ПЭН 1, для БС № 2 нужно включить ПЭН 2.<br>
ГЦН1 - проганяет воду из БС 1 через реактор, тем самым охлаждая его.<br>
ГЦН2 - проганяет воду из БС 2 через реактор.<br>
</div>
<h3>Сокращения в аварийных сигнализациях</h3>
<p class="p-3">
    <ul>
    <li>УВ БС опасно низкий - Уровень воды в барабан сепараторе №  опасно низкий</li>
    <li>УВ БС1 выше нормы - Уровень воды в барабан сепараторе № выше нормы</li>
    <li>Cброс БС - Излишняя вода сбрасывается из БС</li>
</ul>
</p>

<h3>Общая схема реактора</h3>
<div style="display:flex;">
<p class="p-3">В реактор вода подается с помощь главных циркуляционных насосов (ГЦН). Затем в самом реакторе она нагревается
    и частично испаряется в результате чего появляется пароводяная смесь(ПВС). ПВС
    попадает в барабан сепараторы (БС) и разделяется на пар и воду. Пар попадает на турбину, которая выробатывает энергию.
    После прохождения турбины пар конденсируется в конденсаторе и затем с помощью питательных насосов,
    возвращается в БС.</p>
<img src="https://fs.znanio.ru/methodology/images/17/47/174701b37459b2790b8df9d746a331add1afe460.jpg" class="img-info">
    </div>

<h4>Как правильно установить расход</h4>
<p class="p-3">Для регулирования расхода теплоносителя, стоит руководствоваться, мощностью и ОЗР(в %) Вы должны держать его около 30 %.
    Чем больше воды вы прогоняете через реактор, тем больше, стержней, вам нужно извлекать.</p>
<table class="table table-wiki">
    <tr>
        <th class="table-active">Мощность МВт</th>
        <th class="table-active">Расход т/ч</th>
    </tr>
    <tr>
        <td>20</td>
        <td>800</td>
    </tr>
    <tr>
        <td>700</td>
        <td><=6000</td>
    </tr>
    <tr>
        <td>3200</td>
        <td>64000</td>
    </tr>
</table>
{% endblock %}