<link rel="stylesheet" href="/static/css/main.css" type="text/css">
{% extends "base.html" %}

{% block content %}
 <div style="background-color:#ebead5;">
<h1>Добро пожаловать в симулятор управления реактором</h1>
Игроки<ul>
{% for user in users %}
    <li>{{user.id}} - {{user.name}} очки {{user.points}}</li>
{% endfor %}
</ul>
<h1>Реакторы</h1>
<a  type="button" class="btn btn-primary" href="/b/not_auth">Играть без авторизации(1 игрок)</a>
<div class="table-reactor">
    <table class="table">
        <tr>
            <th class="table-info">Мои комнаты</th>
            <th class="table-info"></th>
            <th class="table-info"></th>
        </tr>
    <tr>
        <th class="table-info">№</th>
        <th class="table-info">Название</th>
        <th class="table-info">Активность</th>
    </tr>
{% for reactor in my_reactor %}
    <tr>
        <td>{{reactor.id}}</td>
        <td>{{reactor.name}}</td>
        <td>
        {% if reactor.activiti %} Активен {% else %} Неактивен {% endif %}
        </td>

        <td>
        {% if current_user.is_authenticated and current_user.id == reactor.main_player %}
        <a  type="button" class="btn btn-success" href="/b/{{reactor.id}}">Организатор</a>
        <a  type="button" class="btn btn-danger" href="/delete/{{reactor.id}}">Удалить</a>
        {% else %}
        <a href="/b/user/{{reactor.id}}" type="button" class="btn btn-secondary">Игроки</a>
        {% endif %}
        </td>
    </tr>
{% endfor %}

</table>
<table >
    <tr>
        <th>№</th>
        <th>Назваеие</th>
        <th>Активнсть</th>
        <th>Количество пользователей</th>
    </tr>
{% for reactor in reactors %}

    <tr>
        <td>{{reactor.id}}</td>
        <td>{{reactor.name}}</td>
        <td>
        {% if reactor.activiti %} Активен {% else %} Неактивен {% endif %}
        </td>
        <td>
            {{reactor.cnt_player}}
        </td>
        <td>
        {% if current_user.is_authenticated and current_user.id == reactor.main_player %}
        <a  type="button" class="btn btn-success" href="/b/{{reactor.id}}">Организатор</a>
        <a  type="button" class="btn btn-danger" href="/delete/{{reactor.id}}">Удалить</a>
        {% else %}
        <a href="/b/user/{{reactor.id}}" type="button" class="btn btn-secondary">Игроки</a>
        {% endif %}
        </td>
    </tr>
{% endfor %}

</table>
</div>
<a type="button" class="btn btn-success" href="/add_new_reactor">Добавить новый реактор</a>
<h1>Что такаое реактор РБМК-1000</h1>

<p class="white-alert">
Реактор большой мощности канальный (РБМК) — серия энергетических ядерных реакторов, разработанных в Советском Союзе.
    Взорвавшийся на ЧАЭС реактор был такого же типа. С помощью нашего симулятора вы можете управлять им в расщиренном режиме.
</p>
</div>
{% endblock %}
