<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <title>{{title}}</title>
    <link href="/static/css/skala.css" rel="stylesheet" type="text/css">
</head>
<body>
<main class="main-cont">
<h1>Скала</h1>
<h4>Оперативный журнал</h4>
<textarea id="journal"></textarea>
<button>Copy</button>
<div> <h3>СФКРЭ</h3>
<canvas id="power" width="600px" height="400px"></canvas>
   </div>
    <div>
        <h3>Скорость СФКРЭ</h3>
<canvas id="period_power" width="300px" height="200px"></canvas>
  </div>
</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
<script src="/static/javascript/app.js"></script>
<script src="/static/javascript/UI.js"></script>
<script src="/static/javascript/rdg.js"></script>
<script src="/static/javascript/az_classes.js"></script>
<script src="/static/javascript/turnover_classes.js"></script>
<script src="/static/javascript/pump_classes.js"></script>
<script src="/static/javascript/BS_classes.js"></script>
<script src="/static/javascript/reactor.js"></script>
<script src="/static/javascript/remote_control.js"></script>

<script src="/static/javascript/skala/skala.js"></script>
<script>
    const room_id = {{id_reactor}};
    const errors_list = {
  "alert_power_q": "Высокая тепловая мощность",
  "m_ozr_ar": "Малый ОЗР Ар",
  "m_ozr": "Малый ОЗР",
  "alert_high_turnovers1": "Высокие обороты ТГ1",
  "alert_high_turnovers2": "Высокие обороты ТГ2",
  "alert_high_e_power_t1": "Высокие мощность ТГ1",
  "alert_high_e_power_t2": "Высокие мощность ТГ2",
  "error_t1": "ТГ1 неиспр",
  "error_t2": "ТГ2 неиспр",
  "alert_high_temperature2": "Высокая темп контр 2",
  "alert_high_temperatureBS1": "Высокая температура БС1",
  "alert_high_temperatureBS2": "Высокая температура БС2",
  "level_down1": "Сброс БС1",
  "h_high_water_level_BS1": "Уровень БС1 выше нормы",
  "level_down2": "Сброс БС2",
  "h_high_water_level_BS2": "Уровень БС2 выше нормы",
  "alert_az_5": "АЗ-5",
  "alert_baz": "БАЗ",
  "alert_az_1": "АЗ-1",
  "alert_az_2": "АЗ-2",
  "h_lower_water_level_BS1": "Уровень БС1 ниже нормы",
  "h_lower_water_level_BS2": "Уровень БС2 ниже нормы",
  "high_rho_total": "Высокая реактивность"
};

</script>
<script src="/static/javascript/skala/skala_app.js"></script>
<script>
   sk = new Skala();
    rc = new RC(true);
    setInterval(() => {
    sk.update();
}, 1000);
</script>

</body>
</html>