{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/info">Справка</a></li>
    <li class="breadcrumb-item active" aria-current="page">СУЗ</li>
  </ol>
</nav>

<h1>Справка по системе управления и защите(СУЗ)</h1>
<div class="alert alert-danger" role="alert">
 Эта информация предназначена, для игры в симуляторе ядерного реактора РБМК-1000. Информация о настоящем реакторе находиться
    <a href="/wiki">Здесь</a>
</div>
<h4>Популярные вопросы</h4>
<div>
    <h3>Маркировка стержней</h3>
    <ul>
        <li style="display:flex;">
<div class="mnemo-baz "></div> - стержни Быстро действующей аварийной защиты(БАЗ)
        </li>
        <li style="display:flex;">
<div class="mnemo-rr"></div> - стержни ручного регулирования(РР)
        </li>
            <li style="display:flex;">
<div class="mnemo-lar"></div> - стержни локального автоматического регулирования(ЛАР)
        </li>
        <li style="display:flex;">
<div class="mnemo-laz"></div> - стержни локальной аварийной защиты(ЛАЗ)
        </li>
        <li style="display:flex;">
<div class="mnemo-ysp"></div> - Укороченные стержни поглотители (УСП)
        </li>
        </ul>
</div>
<div>
    <h3>Аварийная защита</h3>
    <ul>
        <li>
    БАЗ -активирует быстро действующую аварийную защиту.</li>
        <li>
    АЗ-5 - Вводит все стержни в активную зону и полностью заглушает реактор.
        </li>
        <li>
    АЗ-1 - обеспечивает снижение мощность до 60%
        </li>
        <li>
    АЗ-1 - обеспечивает снижение мощность до 40%
        </li>
        <li>
            ЛАР - обеспечивает поддержание заданной мощности на установленном уровне с помощю стержней ЛАР.
        </li>
        </ul>
</div>
для того, чтобы запустить реактор нужно
{% endblock %}