{% extends "base.html" %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/info">Справка</a></li>
    <li class="breadcrumb-item active" aria-current="page">Турбина</li>
  </ol>
</nav>
<h1>Справка по управлению турбиной</h1>
<div class="alert alert-danger" role="alert">
 Эта информация предназначена, для игры в симуляторе ядерного реактора РБМК-1000. Информация о настоящем реакторе находиться
    <a href="/wiki">Здесь</a>
</div>
<h3>Обязанности оператора турбины</h3>
<p>
    Оператор турбины
</p>
<h3>Как запустить турбину</h3>
<p>
    <ol>
    <li>Установить расход пара на 1000 т/ч</li>
    <li>Перевести направление пара на пусковой отек.</li>
    <li>При достижении давления в 6.5 МПа перевести направление пара на турбину</li>
    <li>Нажать кнопку пуск</li>
    <li>При достижении 3000 об/с можно увеличить расход пара на турбину</li>
    </ol>
</p>
<h4>Управление питанием собственных нужд</h4>
<p>
    В нашем симуляторе вы можете сами решать от чего запитывать электрические приборы(Насосы)
    В штатном режиме питание насосов и других установок станции обеспечивает
    Трансформатор Собственных Нужд(Скоро появиться в симуляторе), запитаный от турбин(турбогенераторов).
    При останове энергоблока питание береться от других электростанций(В симуляторе ЛЭП1 и резервная ЛЭП2), если питание
    от других станций невозможно(Обрыв Линий электро передач), энергию вырабатывают дизель генераторы(РДГ1, РДГ2).
</p>

{% endblock %}